<div qv-extension style="direction:{{(this.layout.props.direction || 'ltr')}}">
  <div style="margin-bottom: 5px;">{{(this.layout.props.Title || "Ask anything about your data:")}}</div>
  <input class="lui-input" ng-model="query" style="margin-bottom: 5px;"/>
  <button class="lui-button myButton" style="float:{{((this.layout.props.direction || 'ltr') == 'ltr' ? 'left' : 'right')}}" ng-click="openDialog()">{{(this.layout.props.buttonCaption || "Get Answers")}}
  <img class="mySpinner">
  </button>
 
 	<div class="cc-selector">
        <input id="openai" type="radio" name="platform" value="openai" />
        <label  title="Open AI ChatGPT" class="drinkcard-cc openai" for="openai" style="display:{{this.layout.props.showButtonOpenai && this.layout.props.enableOpenai ? '' : 'none'}}"></label>
        <input id="azureoai" type="radio" name="platform" value="azureoai" />
        <label title="Azure OpenAI" class="drinkcard-cc azureoai" for="azureoai" style="display:{{this.layout.props.showButtonAzure && this.layout.props.enableAzure ? '' : 'none'}}"></label>
        <input id="pandasai" type="radio" name="platform" value="pandasai" />
        <label  title="Python PandasAI" class="drinkcard-cc pandasai" for="pandasai" style="display:{{this.layout.props.showButtonPandasAI && this.layout.props.enablePandasAI ? '' : 'none'}}"></label>
	</div>
	<footer style="bottom: 0;position: absolute;{{((this.layout.props.direction || 'ltr') == 'ltr' ? 'right' : 'left')}}: 0;">
  		<img src="/extensions/AskAI/chatgpt-icon-logo.png" style="height: 16px;float:{{((this.layout.props.direction || 'ltr') == 'ltr' ? 'right' : 'left')}}; padding-right:5px">
  		<img src="/extensions/AskAI/Logical 2022 Logo-05.png" style="height: 16px;float:{{((this.layout.props.direction || 'ltr') == 'ltr' ? 'right' : 'left')}}; padding-right:5px">
  	</footer>
</div>